
<%- include('./partials/header.ejs') %>
  <div class="middle">
  	<h1>Enemies to Lovers</h1>
  	<h3>I hate that I love you</h3>
  </div>	

  <div class="images">
  	<img src="https://c4.wallpaperflare.com/wallpaper/738/62/544/naruto-chidori-naruto-naruto-uzumaki-rasengan-naruto-sasuke-uchiha-hd-wallpaper-preview.jpg" class="border" width="350" height="410">
  	
  	<img src="https://w0.peakpx.com/wallpaper/917/626/HD-wallpaper-attack-on-titan-poster-digital-2022.jpg" class="border" width="350" height="410">
  	<img src="https://cdn.wallpapersafari.com/41/34/lAXYCd.jpg" class="border" width="350" height="410">
  </div> 
  <%- include('./partials/footer.ejs') %>
